default_language_version:
  python: python3

repos:
-   repo: local
    hooks:
    -   id: pytest
        name: pytest
        entry: ./.venv/bin/pytest tests
        language: system
        types: [python]
        pass_filenames: false
        always_run: true

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0 # Use the ref you want to point at
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-ast

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Run the linter.
    -   id: ruff
        args: [--fix, --target-version, py311]
      # Run the formatter.
    -   id: ruff-format
        args: [--target-version, py311]

-   repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
    rev: v0.9.0
    hooks:
    -   id: pre-commit-update
